<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	<display-name>KGM</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<security-role>
		<description />
		<role-name>user</role-name>
	</security-role>
	
	<security-constraint>
		<display-name>KJWPRJ Security</display-name>
		<web-resource-collection>
			<web-resource-name>KJWPRJ</web-resource-name>
			<description></description>
			<url-pattern>/addCar.jsp</url-pattern>
			<url-pattern>/editCar.jsp</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<description>권한 관리자명</description>
			<role-name>user</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.jsp</form-login-page>
			<form-error-page>/login_failed.jsp</form-error-page>
		</form-login-config>
	</login-config>
	<servlet>
		<servlet-name>BoardController</servlet-name>
		<servlet-class>mvc.controller.BoardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardController</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>LogFileFilter</filter-name>
		<filter-class>filter.LogFileFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFileFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/exceptionNoPage.jsp</location>
	</error-page>
	
	<session-config>
    <session-timeout>30</session-timeout> <!-- 단위: 분 -->
	</session-config>
</web-app>