@charset "UTF-8";

    /* 기본 리셋 */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body, html {
      height: 100%;
      font-family: 'Pretendard', sans-serif;
    }


    /* 영상 배경 */
    .video-bg {
      position: absolute;
      top: 43.5%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.5);
      z-index: -1;
      pointer-events: none;
    }
    
    

    /* 메인 텍스트 */
    .main-text {
      position: absolute;
      bottom: 14.3%;
      left: 3%;
      color: white;
      z-index: 5;
      max-width: 700px;
    }

    .main-text p {
      font-size: 1.2rem;
      margin-top: 15px;
      color: #ffffff;
    }

    /* 하단 퍼플 그라데이션 */
    .gradient-fade-purple {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 201px;
      background: linear-gradient(to bottom, #1a0e2a 0%, #322445 50%, #1a0e2a 100%);
      z-index: 0;
      pointer-events: none;
    }

   /* 모델 섹션 */
     .model-wrapper {
      padding-top: 970px;
      padding-bottom: 0px;
      
    }  

    .model-header-wrapper {
      margin-bottom: 40px;
    }

    .model-header {
      text-align: center;
    }

    .model-header .subtitle {
      font-size: 1.5rem;
      font-weight: 500;
      color: #5f1852;
    }

    .model-header .title {
      font-size: 3rem;
      font-weight: 700;
      color: #5f1852;
      margin: 5px 0 0;
    }

    .model-more {
      text-align: right;
      margin-top: 10px;
    }

    .more-link {
      font-size: 0.9rem;
      color: #c5b9cc;
      text-decoration: none;
    }

    .model-cards {
      margin-top: 40px;
      gap: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      
    }

    .model-card {
      background: #1b1428;
      padding: 0;
      width: 30%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 10px 20px rgba(0,0,0,0.4);
      transition: transform 0.3s ease;
      
    }

    .model-card img {
      width: 100%; 
      height: 300px;
      object-fit: cover;
    }
    
    .model-card:hover {
      transform: scale(1.05);
    }

    .model-info {
      padding: 20px;
    }

    .model-info p {
      font-size: 0.95rem;
      line-height: 1.6;
      margin-bottom: 15px;
      color: #ffffff;
    }

    .model-info a {
      font-size: 0.9rem;
      color: #ccc;
      text-decoration: none;
    }